body,
html {
    margin: 0px;
    padding: 0px;
    height: 100%;
    width: 100%;
    overflow: hidden;
    user-select:none;
}

.titlebar {
  height: 30px !important;
  z-index: 1 !important;
}

.container-after-titlebar {
  inset: 0px 0px 0px !important;
  position: absolute !important;
  overflow: hidden !important;
}

/**************************************************************/
/* LIBRARY PANE                                               */
/**************************************************************/
#button-bar-library {
  top: 0;
  left: 15px;
  z-index: 2;
  display: inline-block;
  position: absolute;
}

#pane-library {
  width: 20%;
  box-sizing: border-box;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
}

#pane-library-interior {
  width: 20%;
  box-sizing: border-box;
  position: absolute;
  height: calc(100% - 30px);
  width: 100%;
  top: 30;
  left: 0;
  display: inline-block;
}

#divider-library {
  width: 10px;
  height: calc(100% - 30px);
  position: absolute;
  display: inline-block;
  z-index: 3;
  left: 20%;
  top: 30;
  cursor: ew-resize;
}

.jqtree-title {
  font-family: sans-serif;
  font-weight: bold;
}

.jqtree_common {
  cursor: default;
  margin: 2px 0;
  font-weight: normal;
}

#pane-library-interior > .item {
  display: inline-block;
  width: 100%;
  padding: 5px;
  font-size: 14px;
  font-family: sans-serif;
}

/**************************************************************/
/* EDITOR  PANE                                               */
/**************************************************************/
#button-bar-editor {
  top: 0;
  left: 40%;
  z-index: 2;
  display: inline-block;
  position: absolute;
}

#pane-editor {
  width: 60%;
  box-sizing: borderbox;
  height: calc(100vh - 30px);
  position: absolute;
  top: 30;
  left: 40%;
}

/**************************************************************/
/* BUTTONS AND OTHER UI ELEMENTS                              */
/**************************************************************/
.titlebar-button {
  padding: 4px 12px 4px 12px;
  margin: 4px 4px 4px 0px;
  border-radius: 5px;
  z-index: 501;
  font-size: 14px;
  display: inline-block;
  -webkit-app-region: no-drag;
}

/**************************************************************/
/* MODALS                                                     */
/**************************************************************/
.modal {
  top: 30px;
  left: 0;
  z-index: 3;
  position: absolute;
  width: 100vw;
  height: calc(100vh - 30px);
  display: none;
  justify-content: center;
  align-items: center;
}

.modal-content {
  width: auto;
  height: auto;
  z-index: 4;
  border-radius: 7px;
  box-shadow: 0 10px 10px 4px rgba(0, 0, 0, 0.5);
}

.modal-content > .modal-title {
  font-size: 20px;
  font-family: sans-serif;
  padding: 10px 20px;
}

.modal-content > .modal-body {
  padding: 10px 20px;
}

.modal-content > .modal-footer {
  padding: 10px 20px;
}

.modal-footer::after {
  content: "";
  display: block;
  clear: both;
}

/**************************************************************/
/* INPUT STYLING                                              */
/**************************************************************/
input[type="text"] {
  padding: 5px 10px;
  border-radius: 4px;
  width: 100%;
}

button.button {
  min-width: 100px;
  padding: 10px 5px;
  border: none;
  margin-right: 10px;
  border-radius: 4px;
}

.modal-footer .button:first-of-type {
  margin-right: 0;
}

/**************************************************************/
/* MISCELLANEOUS                                              */
/**************************************************************/
.float-right {
  float: right;
}
