html {
  background-color: #fff;
}

.titlebar-button {
  color: #ddd;
  background: #aaa;
  transition: all .25s;
}

.titlebar-button:hover {
  color: #fff;
  background: #999;
  transition: all .25s;
}

#pane-library-interior {
  background-color: #eee;
  border-right: 2px solid #ddd;
}

#pane-documents-interior {
  background-color: #fff;
  border-right: 2px solid #ddd;
}

#pane-library-interior > .header {
  color: #aaa;
}

.primary-text {
  color: #444;
}

.secondary-text {
  color: #777;
}

.modal {
  background-color: rgba(0,0,0,.67);
}

.modal-content {
  background-color: #fff;
}

.modal-content > .modal-title {
  border-bottom: 1px solid #ccc;
}

.modal-content > .modal-footer {
  border-top: 1px solid #ccc;
}

input[type=text] {
  border: 1px solid #ccc;
}

.button-primary {
  background-color: #0073c6;
  color: white;
}

.button-secondary {
  background-color: #999;
  color: white;
}
